<ion-content class="ion-padding ion-text-center">
<!-- <ion-button [routerLink]="['/home']">Hola</ion-button> -->
  <div class="logo">
    <img src="../../assets/icon/favicon.png" width="35%" alt="logo.pmg">
  </div>

  <h2>Iniciar sesión</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item lines="none">
      <ion-input formControlName="username" placeholder="Usuario o email" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input formControlName="password" placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button [disabled]="!form.valid || loading" (click)="onSubmit()" color="dark" expand="block">
      <ion-spinner *ngIf="loading"></ion-spinner> <div *ngIf="!loading">Continuar</div>
    </ion-button>
  </form>

  <a [routerLink]="loading ? ['/'] : ['/register']">{{loading ? 'Verificando...' : 'Crear cuenta'}}</a>
</ion-content>
